<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>

    <!-- Mars Headlines -->
    <div class="row" id="headlines">
      <div class="col-md-12">
        <h2><strong>Mars Headlines</strong></h2>
        <h3 class="heading">{{mars.news_title}}</h3>
          <p id="news">{{mars.news_p}}</p>        
      </div>
    </div>

    <!--Mars Featured Image-->
    <div class="row" id="image">
      <div class="col-md-6">
        <h2><strong>Alien Landscapes</strong></h2>
        <img class="col-md-6 border" src="{{mars.featured_image_url}}" alt="Features Mars Image">
      </div>
    </div>


    <!--Mars Facts-->
    <div class="row" id="facts">
      <div class="col-md-6">
        <h2><strong>I Bet You Didn't Know...</strong></h2>
        <h3 class="heading">{{mars.facts_df}}</h3>
      </div>
    </div>

    <!--Mars Hemispheres-->
    <div class="row" id="hemispheres">
      <div class="col-md-6">
        <h2><strong>The Sides of Mars</strong></h2>
         <div>
          <img width="400 px" height="400 px" src="{{mars.mars_hemispheres}}">
        </div>
      </div>
    </div>











  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

